@mixin content {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    section.content {
      gap: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 50px;
      h1 {
        font-size: 3em;
        font-weight: 700;
        background: linear-gradient(
          to right,
          rgba(0, 169, 255, 1) 0%,
          rgba(137, 207, 243, 1) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      p {
        max-width: 350px;
        font-weight: 500;
        color: #c3c3c3;
        opacity: 0.5;
      }
    }
    section.form-upload {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      width: clamp(300px, 100%, 800px);
      .upload {
        border-radius: 40px;
        border: 3px solid #00a9ff;
        box-shadow: 0 0 50px #00aaff80;
        backdrop-filter: blur(30px);
        background-color: #1e1e1e33;
        width: 100%;
        padding: 40px;
        .dropzone-box {
          border-radius: 20px;
          border: 3px dotted #00a9ff;
          padding: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          gap: 4px;
          color: #c4c4c4;
          img {
            margin-bottom: 3px;
          }
          span.barrier {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            hr {
              // height: 1px;
              width: clamp(50px, 100%, 90px);
              background-color: #c6c5c528;
              border: 0.5px solid #c6c5c527;
            }
          }
          input[type="file"] {
            display: none;
          }
          label {
            margin-top: 10px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            gap: 5px;
            border-radius: 5px;
            background-color: #00a9ff;
            cursor: pointer;
            font-size: 0.9em;
            color: #f7f7f7;
          }
        }
        h3.btn-convert {
          cursor: pointer;
          background-color: #00a9ff;
          color: #f7f7f7;
          font-weight: 500;
          font-size: 1em;
          padding: 15px 35px;
          border-radius: 5px;
          margin-bottom: -25px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
