@mixin convert {
  main {
    section.form-upload {
      .convert-zone {
        margin-top: 20px;
        display: grid;
        grid-template-areas:
          "statusFile formatImage"
          "fileName fileName";
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        color: #f7f7f7;
        font-size: 0.9em;
        // border: 2px solid white;
        & p.status-file {
          grid-area: statusFile;
          margin-left: 5px;
        }
        span.convert-file {
          grid-area: formatImage;
          display: flex;
          gap: 10px;
          align-items: center;
          margin-right: 5px;
          select#format-image {
            cursor: pointer;
            border: 3px solid #00a9ff;
            border-radius: 10px;
            background-color: #005c8b;
            color: #f7f7f7;
            width: 100px;
            padding: 10px;
            transition: 0.5s;
            &:hover {
              transform: scale(1.05);
              background-color: #013c5a;
            }
            &:focus {
              outline: none;
            }
            option {
              padding: 10px;
              background-color: #fff;
              color: #333;
            }
          }
        }
        ul.list-file {
          grid-area: fileName;
          list-style: none;
          li {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #00aaff5e;
            padding: 10px 20px;
            border-radius: 10px;
            font-weight: 600;
            span.detail-file {
              display: flex;
              gap: 10px;
              align-items: center;
            }
          }
        }
      }
    }
  }
  footer {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    p {
      color: #f7f7f7;
      span {
        color: #00ccff;
      }
    }
  }
}
