@mixin header {
  header {
    color: #faf7f7;
    padding: 10px 25px;
    nav {
      .logo {
        display: flex;
        align-items: center;
        gap: 15px;
        h1 {
          font-size: 1.5em;
          font-weight: 500;
        }
      }
    }
  }
}
